# To contribute improvements to CI/CD templates, please follow the Development guide at:
# https://docs.gitlab.com/ee/development/cicd/templates.html
# This specific template is located at:
# https://gitlab.com/gitlab-org/gitlab/-/blob/master/lib/gitlab/ci/templates/Python.gitlab-ci.yml

# Official language image. Look for the different tagged releases at:
# https://hub.docker.com/r/library/python/tags/
image: python:3.9-bullseye

# Change pip's cache directory to be inside the project directory since we can
# only cache local items.
#variables:
#  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"

# Pip's cache doesn't store the python packages
# https://pip.pypa.io/en/stable/reference/pip_install/#caching
#
# If you want to also cache the installed packages, you have to install
# them in a virtualenv and cache it as well.
#cache:
#  paths:
#    - .cache/pip
#    - venv/

stages:
  #- Lint
  - test
  - deploy

# Verify the PEP-8 guidelines for your code
#linting:
#  stage: Lint
#  script:
#    - pylint *.py  

unittest:
  stage: test
  # artifacts:
  #   reports:
  #     cobertura: tests/coverage.xml
  before_script:
    - apt-get -y update
    - apt-get -y install libopenmpi-dev tree
    # - pip install virtualenv
    # - python -m venv env_test
    # - source env_test/bin/activate
    - pip install -U pytest coverage
    #- python -m pip install -r requirements.txt
    - pip install .
    #- make
    - struphy -h
    - struphy -t
    - struphy -c
    #- ./STRUPHY_init.sh  # copy struphy files and directories 
    #- ./run_STRUPHY_cc_lin_6D.sh  # pre-compile (pyccel) and exit without starting simulation
  script:
    #- python setup.py test
    - cd $(python -c 'import sysconfig; print(sysconfig.get_path("platlib"))')/struphy/tests/
    - pytest
    # - coverage run -m pytest
    # - coverage xml
    # - coverage report --skip-empty
    # - coverage erase
    # - cd ..

#run:
#  script:
#    - python setup.py bdist_wheel
#    # an alternative approach is to install and run:
#    - pip install dist/*
#    # run the command here
#  artifacts:
#    paths:
#      - dist/*.whl

pages:
 stage: deploy
 before_script:
    - apt-get -y update
    - apt-get -y install libopenmpi-dev
    # - pip install virtualenv
    # - python -m virtualenv .venv
    # - source .venv/bin/activate
    - pip install -U pytest coverage
    #- python -m pip install -r requirements.txt
    - pip install .
    - struphy -h
 script:
   - cd doc ; make html
   - mv _build/html/ ../public/
 artifacts:
   paths:
     - public
#  rules:
#    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

