# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
doc/_build/
doc/source/*
tutorials/sim*
*STUBDIR*
.VSCodeCounter/
.pymon

# pyccel
__gpyccel__/
__psydac__/
__epyccel__/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.err

# Others
.vscode/
*.ipynb_*
*__pyc*
.DS_*
*~
*.hdf5
*.h5py
*.vts
*acquisition.lock
*.json
.testmondata*
.output*

# Default simulations and diagnostics
my_diagnostics
my_struphy_sims
/diagnostics.sh
/run_STRUPHY*.sh
logs
*env/
.hostfile*
.likwidscript*
code_analysis_report.html

# I/O
src/struphy/io/out/
src/struphy/state.yml
src/struphy/io/inp/params_*

# models list
src/struphy/models/models_list
src/struphy/models/models_message
