[submodule "struphy-tutorials"]
	path = struphy-tutorials
	url = https://github.com/struphy-hub/struphy-tutorials.git
[submodule "feectools"]
	path = feectools
	url = https://github.com/struphy-hub/feectools.git
[submodule "struphy-parameter-files"]
	path = struphy-parameter-files
	url = https://github.com/struphy-hub/struphy-parameter-files.git
