# Keyword reference for the .gitlab-ci.yml file: 
# https://gitlab.mpcdf.mpg.de/help/ci/yaml/index.md

# Official language image. Look for the different tagged releases at:
# https://hub.docker.com/r/library/python/tags/


default:
  before_script:
    - module purge
    - module load gcc openmpi anaconda/3/2021.11 mpi4py
    - module list
    - source ${GLOBAL_CACHE_PATH}/env/bin/activate
    - ENV_PATH=$(python3 -c 'import sysconfig; print(sysconfig.get_path("platlib"))')
  tags:
    - ipp_vm_linux_struphy
  
variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  GIT_SUBMODULE_STRATEGY: recursive
  GLOBAL_CACHE_PATH: "/home/gitlab-runner/globalcache/struphy_${CI_PIPELINE_ID}_${CI_COMMIT_REF_NAME}"
  UBUNTU20_TEST_IMAGE: $CI_REGISTRY/struphy/struphy/ubuntu20_test
  RELEASE_TEST_IMAGE: $CI_REGISTRY/struphy/struphy/release_test
  UBUNTU20_IMAGE: $CI_REGISTRY/struphy/struphy/ubuntu20
  RELEASE_IMAGE: $CI_REGISTRY/struphy/struphy/release

stages:
  - startup
  - build
  - test_image
  - install
  - test_default
  - release 
  - cleanup

# python virtual environment into cache
default_venv:
  stage: startup
  rules:
    - if: $CI_PIPELINE_SOURCE == "push"
  before_script:
    - uname -s # get system info
    - uname -v
    - uname -m
    - uname -o
    - echo "Hello ${GITLAB_USER_NAME} !"
    - echo "This is job ${CI_JOB_ID}"
    - module purge
    - module load gcc openmpi anaconda/3/2021.11 mpi4py
    - module list
  script:
    - echo "Creating virtual environment..."
    - pip install -U virtualenv
    - python3 -m venv ${GLOBAL_CACHE_PATH}/env
    - source ${GLOBAL_CACHE_PATH}/env/bin/activate
    - python3 -m pip install --upgrade pip
    - pip install -U pytest coverage h5py build wheel # somehow the build package is not cached
    - pip list

# Print some predefined variables: https://gitlab.mpcdf.mpg.de/help/ci/variables/predefined_variables.md
ci_vars:
  stage: startup
  rules:
    - if: $CI_PIPELINE_SOURCE == "push"
  before_script:
    - echo "All CI predefined variables:"
    - module purge
    - module load gcc openmpi anaconda/3/2021.11 mpi4py
    - module list
  script:
    - echo "All CI predefined variables:"
    - echo $CHAT_CHANNEL
    - echo $CHAT_INPUT
    - echo $CHAT_USER_ID
    - echo $CI
    - echo $CI_API_V4_URL
    - echo $CI_BUILDS_DIR
    - echo $CI_COMMIT_AUTHOR
    - echo $CI_COMMIT_BEFORE_SHA
    - echo $CI_COMMIT_BRANCH
    - echo $CI_COMMIT_DESCRIPTION
    - echo $CI_COMMIT_MESSAGE
    - echo $CI_COMMIT_REF_NAME
    - echo $CI_COMMIT_REF_PROTECTED
    - echo $CI_COMMIT_REF_SLUG
    - echo $CI_COMMIT_SHA
    - echo $CI_COMMIT_SHORT_SHA
    - echo $CI_COMMIT_TAG
    - echo $CI_COMMIT_TIMESTAMP
    - echo $CI_COMMIT_TITLE
    - echo $CI_CONCURRENT_ID
    - echo $CI_CONCURRENT_PROJECT_ID
    - echo $CI_CONFIG_PATH
    - echo $CI_DEBUG_TRACE
    - echo $CI_DEFAULT_BRANCH
    - echo $CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX
    - echo $CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX
    - echo $CI_DEPENDENCY_PROXY_PASSWORD
    - echo $CI_DEPENDENCY_PROXY_SERVER
    - echo $CI_DEPENDENCY_PROXY_USER
    - echo $CI_DEPLOY_FREEZE
    - echo $CI_DEPLOY_PASSWORD
    - echo $CI_DEPLOY_USER
    - echo $CI_DISPOSABLE_ENVIRONMENT
    - echo $CI_ENVIRONMENT_NAME
    - echo $CI_ENVIRONMENT_SLUG
    - echo $CI_ENVIRONMENT_URL
    - echo $CI_ENVIRONMENT_ACTION
    - echo $CI_ENVIRONMENT_TIER
    - echo $CI_HAS_OPEN_REQUIREMENTS
    - echo $CI_JOB_ID
    - echo $CI_JOB_IMAGE
    - echo $CI_JOB_JWT
    - echo $CI_JOB_JWT_V1
    - echo $CI_JOB_JWT_V2
    - echo $CI_JOB_MANUAL
    - echo $CI_JOB_NAME
    - echo $CI_JOB_STAGE
    - echo $CI_JOB_STATUS
    - echo $CI_JOB_TOKEN
    - echo $CI_JOB_URL
    - echo $CI_JOB_STARTED_AT
    - echo $CI_KUBERNETES_ACTIVE
    - echo $CI_NODE_INDEX
    - echo $CI_NODE_TOTAL
    - echo $CI_OPEN_MERGE_REQUESTS
    - echo $CI_PAGES_DOMAIN
    - echo $CI_PAGES_URL
    - echo $CI_PIPELINE_ID
    - echo $CI_PIPELINE_IID
    - echo $CI_PIPELINE_SOURCE
    - echo $CI_PIPELINE_TRIGGERED
    - echo $CI_PIPELINE_URL
    - echo $CI_PIPELINE_CREATED_AT
    - echo $CI_PROJECT_CONFIG_PATH
    - echo $CI_PROJECT_DIR
    - echo $CI_PROJECT_ID
    - echo $CI_PROJECT_NAME
    - echo $CI_PROJECT_NAMESPACE
    - echo $CI_PROJECT_PATH_SLUG
    - echo $CI_PROJECT_PATH
    - echo $CI_PROJECT_REPOSITORY_LANGUAGES
    - echo $CI_PROJECT_ROOT_NAMESPACE
    - echo $CI_PROJECT_TITLE
    - echo $CI_PROJECT_URL
    - echo $CI_PROJECT_VISIBILITY
    - echo $CI_PROJECT_CLASSIFICATION_LABEL
    - echo $CI_REGISTRY_IMAGE
    - echo $CI_REGISTRY_PASSWORD
    - echo $CI_REGISTRY_USER
    - echo $CI_REGISTRY
    - echo $CI_REPOSITORY_URL
    - echo $CI_RUNNER_DESCRIPTION
    - echo $CI_RUNNER_EXECUTABLE_ARCH
    - echo $CI_RUNNER_ID
    - echo $CI_RUNNER_REVISION
    - echo $CI_RUNNER_SHORT_TOKEN
    - echo $CI_RUNNER_TAGS
    - echo $CI_RUNNER_VERSION
    - echo $CI_SERVER_HOST
    - echo $CI_SERVER_NAME
    - echo $CI_SERVER_PORT
    - echo $CI_SERVER_PROTOCOL
    - echo $CI_SERVER_REVISION
    - echo $CI_SERVER_URL
    - echo $CI_SERVER_VERSION_MAJOR
    - echo $CI_SERVER_VERSION_MINOR
    - echo $CI_SERVER_VERSION_PATCH
    - echo $CI_SERVER_VERSION
    - echo $CI_SERVER
    - echo $CI_SHARED_ENVIRONMENT
    - echo $GITLAB_CI
    - echo $GITLAB_FEATURES
    - echo $GITLAB_USER_EMAIL
    - echo $GITLAB_USER_ID
    - echo $GITLAB_USER_LOGIN
    - echo $GITLAB_USER_NAME
    - echo $TRIGGER_PAYLOAD

# # Verify the PEP-8 guidelines for your code
# linting:
#   stage: startup
#   before_script:
#     - module load anaconda/3/2021.11 
#     - pip install -U pylint
#   script:
#     - FLAGS="--recursive=y --exit-zero --reports=yes"
#     - mkdir linting
#     - pylint struphy/diagnostics/              --output-format=text:linting/diagnostics.txt $FLAGS
#     - pylint struphy/dispersion_relations/     --output-format=text:linting/dispersion_relations.txt $FLAGS
#     - pylint struphy/examples/                 --output-format=text:linting/examples.txt $FLAGS
#     - pylint struphy/feec/                     --output-format=text:linting/feec.txt $FLAGS
#     - pylint struphy/fields_background/        --output-format=text:linting/fields_background.txt $FLAGS
#     - pylint struphy/geometry/                 --output-format=text:linting/geometry.txt $FLAGS
#     - pylint struphy/kinetic_background/       --output-format=text:linting/kinetic_background.txt $FLAGS
#     - pylint struphy/kinetic_init/             --output-format=text:linting/kinetic_init.txt $FLAGS
#     - pylint struphy/linear_algebra/           --output-format=text:linting/linear_algebra.txt $FLAGS
#     - pylint struphy/models/                   --output-format=text:linting/models.txt $FLAGS
#     - pylint struphy/initial/                  --output-format=text:linting/initial.txt $FLAGS
#     - pylint struphy/pic/                      --output-format=text:linting/pic.txt $FLAGS
#     - pylint struphy/psydac_api/               --output-format=text:linting/psydac_api.txt $FLAGS
#     - pylint struphy/propagators/              --output-format=text:linting/propagators.txt $FLAGS
#     - pylint struphy/tests/                    --output-format=text:linting/tests.txt $FLAGS
#     - pylint struphy/tests_mpi/                --output-format=text:linting/tests_mpi.txt $FLAGS
#   artifacts:
#     paths:
#       - linting/

# build on mpcdf server
default_build:
  stage: build
  rules:
    - if: $CI_PIPELINE_SOURCE == "push"
  needs: ["default_venv"]
  script:
    - cd psydac
    - git checkout 0be048d57040dc6b62b5d901f9805bcd30e35537 # last working commit before struphy breaks
    - python3 -m pip install -r requirements.txt
    - python3 -m pip install -r requirements_extra.txt --no-build-isolation
    - pip install .
    - cd ..
    - cd gvec_to_python
    - python3 -m pip install . -r requirements.txt
    - pip install sympy==1.6.1 
    - cd ..
    - python -m build # build struphy (.whl) 
  artifacts:
    paths:
      - dist/

# build environment image (no struphy installed)
ubuntu20_image_build:
  stage: build
  needs: []
  rules:
    - if: $CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_REF_NAME != "master"
  before_script: 
    - docker info
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - docker build -t $UBUNTU20_TEST_IMAGE -f images/ubuntu20.dockerfile .
    - docker push $UBUNTU20_TEST_IMAGE

# build release image (struphy installed and compiled)
release_image_build:
  stage: build
  needs: ["ubuntu20_image_build"]
  rules:
    - if: $CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_REF_NAME != "master"
  before_script: 
    - docker info
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - docker build -t $RELEASE_TEST_IMAGE -f images/struphy_ubuntu20.dockerfile .
    - docker push $RELEASE_TEST_IMAGE

# image tests (when not merged to master)
image_unit_tests:
  stage: test_image
  needs: ["release_image_build"]
  rules:
    - if: $CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_REF_NAME != "master"
  before_script: 
    - docker info
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - docker rm -f unit
    - docker run -d -t --name unit $RELEASE_TEST_IMAGE
    - docker images
    - docker container ls --all
    - docker exec unit struphy test
    - docker stop unit
    - docker rm -f unit 

image_code_tests:
  stage: test_image
  needs: ["release_image_build"]
  rules:
    - if: $CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_REF_NAME != "master"
  before_script: 
    - docker info
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - docker rm -f codes
    - docker run -d -t --name codes $RELEASE_TEST_IMAGE
    - docker images
    - docker container ls --all
    - docker exec codes struphy -p
    - docker exec codes struphy test --codes
    - docker stop codes
    - docker rm -f codes

# Install from wheel and compile on mpcdf cluster arch
default_install:
  stage: install
  needs: ["default_build"]
  rules:
    - if: $CI_PIPELINE_SOURCE == "push"
  script:
    - pip install dist/struphy*.whl
    - pip show struphy
    - struphy
    - pyccel --version
    - struphy compile
    - ./struphy/verify_compilation.sh
    - pip list
    - cd ${ENV_PATH}/psydac/core
    - pyccel kernels.py --language fortran

# default tests (always)
default_unit_tests:
  stage: test_default
  needs: ["default_install"]
  rules:
    - if: $CI_PIPELINE_SOURCE == "push"
  script:
    - struphy test --mpi 2
    # run unit tests with coverage
    - cd ${ENV_PATH}/struphy/tests/
    - coverage run --omit="*/tests*" --data-file=$CI_PROJECT_DIR/.coverage -m pytest 
    - cd $CI_PROJECT_DIR
    - coverage xml
    - ls -1
    - coverage report --skip-empty
    - coverage erase

default_code_tests:
  stage: test_default
  needs: ["default_install"]
  rules:
    - if: $CI_PIPELINE_SOURCE == "push"
  script:
    - struphy test --codes

# release
# build release image
release_images:
  stage: release
  needs: ["image_unit_tests", "image_code_tests"]
  rules:
    - if: $CI_COMMIT_REF_NAME == "master"
  before_script: 
    - docker info
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - docker pull $UBUNTU20_TEST_IMAGE
    - docker tag $UBUNTU20_TEST_IMAGE $UBUNTU20_IMAGE
    - docker push $UBUNTU20_IMAGE
    - docker pull $RELEASE_TEST_IMAGE
    - docker tag $RELEASE_TEST_IMAGE $RELEASE_IMAGE
    - docker push $RELEASE_IMAGE

pages:
  stage: release
  needs: []
  rules:
    - if: $CI_COMMIT_REF_NAME == "master" 
  script:
    - cd doc ; make html
    - mv _build/html/ ../public/
  artifacts:
    paths:
      - public/

# Cleanup
cleanup:
  stage: cleanup
  rules:
    - if: $CI_PIPELINE_SOURCE == "push"
      when: always
  before_script: 
    - docker info
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - pwd
    - echo "on ${CI_RUNNER_DESCRIPTION}."
    - echo "remove:" ${GLOBAL_CACHE_PATH}
    - rm -rf ${GLOBAL_CACHE_PATH}
    - docker image rm -f $UBUNTU20_TEST_IMAGE $RELEASE_TEST_IMAGE
    - docker images

