# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.err

# others
*.ipynb_*
*__pyc*
.DS_*
*~

# Default simulations and diagnostics
my_diagnostics
my_struphy_sims
/diagnostics.sh
/run_STRUPHY*.sh
/logs
