# Keyword reference for the .gitlab-ci.yml file: 
# https://gitlab.mpcdf.mpg.de/help/ci/yaml/index.md 

# Struphy test strategy:
# 
# The startup stage with "ci_vars" and "default_venv" is always executed.
#
# At each "push": 
# 1) build .whl
# 2) install from .whl in default and ubuntu:latest 
# 3) compile only in C
# 4) perform all tests (including models --fast) in default and ubuntu:latest
# 
# At each merge into "devel": 
# 1) do nothing
#
# At each merge into "master":
# 1) build .whl
# 2) install from .whl in default 
# 3) update pages 
# 4) deploy to PyPI
# 5) release on GitLab
#
# At "scheduled" pipeline:
# 1) install from PyPI in all available docker images and in default
# 2) compile in C and Fortran
# 3) run all tests (including models --fast) in all available images and in default
#

# A "scheduled" pipeline can be tested by clicking "Run pipeline" on Gitlab and setting the TEST_SCHEDULED = true.

# The doc can be built by clicking "Run pipeline" on Gitlab and setting the MAKE_PAGES = true.

variables:
  MAKE_PAGES:
    value: "false"
    options: ["true", "false"]
    description: "''true'' to make pages"
  TEST_SCHEDULED:
    value: "false"
    options: ["true", "false"]
    description: "''true'' to run the scheduled pipeline"
  STRUPHY_SOURCE:
    value: "."
    options: [".", "-U struphy"]
    description: "Source to install struphy from."
  AFTER_SCRIPT_IGNORE_ERRORS: 'false'
  GIT_CLONE_PATH: $CI_BUILDS_DIR/$CI_CONCURRENT_PROJECT_ID/struphy-test

stages:
  - startup
  - install
  - test
  - lint
  - pages
  - release 


#####################
###   TEMPLATES   ###
#####################

.image_gitlab_mpcdf_gcc_openmp:
  image: gitlab-registry.mpcdf.mpg.de/mpcdf/ci-module-image/gcc_14-openmpi_5_0:2025

.image_struphy_ubuntu_latest:
  image: gitlab-registry.mpcdf.mpg.de/struphy/struphy/struphy_ubuntu_latest

.rules_push:
  rules:
    - if: $TEST_SCHEDULED == "true"
      when: never
    - if: $MAKE_PAGES == "true"
      when: never
    - if: $CI_PIPELINE_SOURCE == "schedule"
      when: never
    - if: $CI_COMMIT_TAG
      when: never
    - if: $CI_COMMIT_REF_PROTECTED == "false" && $CI_PIPELINE_SOURCE == "push"

.rules_scheduled:
  rules:
    - if: $TEST_SCHEDULED == "true"
    - if: $CI_PIPELINE_SOURCE == "schedule"

.rules_release:
  rules:
    - if: $TEST_SCHEDULED == "true"
      when: never
    - if: $CI_PIPELINE_SOURCE == "schedule"
      when: never
    - if: $CI_COMMIT_TAG
      when: never
    - if: $CI_COMMIT_REF_NAME == "master"

.rules_make_pages:
  rules:
    - if: $TEST_SCHEDULED == "true"
      when: never
    - if: $CI_PIPELINE_SOURCE == "schedule"
      when: never
    - if: $CI_COMMIT_TAG
      when: never
    - if: $CI_COMMIT_REF_NAME == "master"
    - if: $MAKE_PAGES == "true"
.parallel_matrix_push:
  parallel:
    matrix:
      # - LANGUAGE: "fortran"
      #   OMP: ["", "--omp-pic"]
      - LANGUAGE: "c"
        OMP: [""]

.parallel_matrix_scheduled:
  parallel:
    matrix:
      - LANGUAGE: "fortran"
        OMP: [""] #, "--omp-pic"] # TODO: Enable when unit tests are working with --omp-pic!
      - LANGUAGE: "c"
        OMP: [""]

.before_script_load_modules:
  before_script:
    - date
    - pwd
    - ls -1a
    - uname -a
    - module list
    - module avail
    - module load gcc/14 openmpi/5.0 python-waterboa/2024.06 git graphviz/8
    - module list
    - make -v
    - python3 --version
    - pip list

.scripts:
  checkout_directory:
    - date
    - pwd
    - ls -1a
    - uname -a
    - ls dist/ || true
  create_venv:
    - python3 -m venv env_${CI_PIPELINE_ID}
    - source env_${CI_PIPELINE_ID}/bin/activate
    - python3 --version
    - pip install -U pip
    - python3 -m pip list
  source_env_matrix:
    - source env_${CI_PIPELINE_ID}_${LANGUAGE}_${OMP}/bin/activate
    - python3 -m pip list
    - python3 --version
  create_venv_matrix:
    - python3 -m ensurepip --upgrade
    - python3 -m pip install --upgrade pip
    - python3 -m venv env_${CI_PIPELINE_ID}_${LANGUAGE}_${OMP}
    - source env_${CI_PIPELINE_ID}_${LANGUAGE}_${OMP}/bin/activate
    - pip install -U pip
    - python3 -m pip list
    - python3 --version
  install:
    - pip install $(echo $STRUPHY_SOURCE)[test]
    - pip show struphy
    - pip list
    - struphy -h
  compile:
    - pyccel --version
    - struphy compile --status
    - struphy compile -y
    - struphy --refresh-models
  compile_matrix:
    - pyccel --version
    - struphy compile --status
    - struphy compile --language ${LANGUAGE} ${OMP} -y
    - struphy --refresh-models
  build:
    - pip install -U build
    - python3 -m build
  checkout_struphy:
    - struphy -p
    - struphy -h
    - struphy run -h
  model_tests:
    - struphy compile --status
    - struphy test models --fast
    - struphy test models --fast --verification --mpi 1
    - struphy test models --fast --verification --mpi 4
    - struphy test models --fast --verification --mpi 4 --nclones 2
    - struphy test DriftKineticElectrostaticAdiabatic --mpi 2 --nclones 2
  unit_tests:
    - struphy compile --status
    - struphy --refresh-models
    - struphy test unit
  quickstart_tests:
    - struphy --set-i .
    - struphy --set-o .
    - struphy -p
    - struphy -h
    - struphy run -h
    - struphy params VlasovMaxwellOneSpecies -y
    - ls -1a
    - mv params_VlasovMaxwellOneSpecies.yml test.yml
    - struphy run VlasovMaxwellOneSpecies -i test.yml -o my_first_sim
    - ls my_first_sim/
    - struphy pproc -d my_first_sim
    - ls my_first_sim/post_processing/fields_data/
    - ls my_first_sim/post_processing/kinetic_data/
    - struphy params VlasovMaxwellOneSpecies --options
    - struphy run VlasovMaxwellOneSpecies -i test.yml -o my_first_sim_1clone --mpi 4 --nclones 1
    - struphy run VlasovMaxwellOneSpecies -i test.yml -o my_first_sim_2clone --mpi 4 --nclones 2
    - struphy run VlasovMaxwellOneSpecies -i test.yml -o my_first_sim_4clone --mpi 4 --nclones 4

.artifact_install:
  artifacts:
    name: 'python-env-installed-${LANGUAGE}-${OMP}'
    paths:
      - env_${CI_PIPELINE_ID}_${LANGUAGE}_${OMP}
    expire_in: 1 day


macos_nmpp_0:
  stage: test
  tags: [macos, nmpp, private]
  needs: []
  extends:
    - .rules_push
    - .parallel_matrix_push
  before_script:
    - make -v
    - printenv
    - system_profiler SPHardwareDataType
  script:
    - !reference [.scripts, create_venv]
    - !reference [.scripts, install]
    - !reference [.scripts, compile]
    - !reference [.scripts, quickstart_tests]
    - !reference [.scripts, model_tests]

macos_nmpp_1:
  stage: test
  tags: [macos, nmpp, private]
  needs: []
  extends:
    - .rules_push
    - .parallel_matrix_push
  before_script:
    - make -v
    - printenv
    - system_profiler SPHardwareDataType
  script:
    - !reference [.scripts, create_venv]
    - !reference [.scripts, install]
    - !reference [.scripts, compile]
    - !reference [.scripts, quickstart_tests]
    - !reference [.scripts, model_tests]

macos_nmpp_2:
  stage: test
  tags: [macos, nmpp, private]
  needs: []
  extends:
    - .rules_push
    - .parallel_matrix_push
  before_script:
    - make -v
    - printenv
    - system_profiler SPHardwareDataType
  script:
    - !reference [.scripts, create_venv]
    - !reference [.scripts, install]
    - !reference [.scripts, compile]
    - !reference [.scripts, quickstart_tests]
    - !reference [.scripts, model_tests]

