# Keyword reference for the .gitlab-ci.yml file: 
# https://gitlab.mpcdf.mpg.de/help/ci/yaml/index.md

# Official language image. Look for the different tagged releases at:
# https://hub.docker.com/r/library/python/tags/

default:

  image: gitlab-registry.mpcdf.mpg.de/mpcdf/module-image

  before_script:
    - uname -a
    - module purge
    - module load gcc/12 openmpi/4 anaconda/3/2023.03 git pandoc
    - module list
    - make -v
    - python3 --version
    - sqlite3 -version
    - source env_$CI_PIPELINE_ID/bin/activate
    - pip list

  tags:
    - cloud

  cache:
    key: 'python-env'
    paths:
      - env_$CI_PIPELINE_ID/

stages:
  - startup
  - build
  - install
  - test
  - release 
variables:
  PYTHON_VERSION_1: "3.8"
  PYTHON_VERSION_2: "3.9"

# python virtual environments into cache
default_venv:
  stage: startup
  rules:
    - if: $CI_COMMIT_TAG
      when: never
    - if: $CI_PIPELINE_SOURCE == "push"
    - if: $CI_PIPELINE_SOURCE == "schedule"
  before_script:
    - uname -s # get system info
    - uname -v
    - uname -m
    - uname -o
    - echo "Hello ${GITLAB_USER_NAME} !"
    - echo "This is job ${CI_JOB_ID}"
    - module purge
    - module avail
    - module load gcc/12 openmpi/4 anaconda/3/2023.03 git pandoc
    - module list
  script:
    - pip install -U virtualenv
    - python3 -m venv env_$CI_PIPELINE_ID
    - ls
    - pwd
    - source env_$CI_PIPELINE_ID/bin/activate
    - python3 -m pip install --upgrade pip
    - pip install -U pytest coverage twine
    - pip list

# Print some predefined variables: https://gitlab.mpcdf.mpg.de/help/ci/variables/predefined_variables.md
ci_vars:
  stage: startup
  rules:
    - if: $CI_COMMIT_TAG
      when: never
    - if: $CI_PIPELINE_SOURCE == "push"
    - if: $CI_PIPELINE_SOURCE == "schedule"
  cache: []
  before_script:
    - module purge
    - module load gcc/12 openmpi/4 anaconda/3/2023.03 git pandoc
    - module list
  script:
    - echo "All environment variables:"
    - env

# Verify the PEP-8 guidelines for your code
linting:
  stage: startup
  rules:
    - if: $CI_COMMIT_TAG
      when: never
    - if: $CI_COMMIT_REF_NAME == "master"
  cache: []
  before_script:
    - module load anaconda/3/2023.03 
    - pip install -U pylint
  script:
    - FLAGS="--recursive=y --exit-zero --reports=yes"
    - mkdir linting
    - pylint src/struphy/ --output-format=text:linting/struphy.txt $FLAGS
  artifacts:
    paths:
      - linting/
    expire_in: 1 day

# build on mpcdf server
default_build:
  stage: build
  rules:
    - if: $CI_COMMIT_TAG
      when: never
    - if: $CI_PIPELINE_SOURCE == "push"
    - if: $CI_PIPELINE_SOURCE == "schedule"
  needs: ["default_venv"]
  script:  
    - pip install -U build
    - pip list
    - python3 -m build # build struphy (.whl) 
  artifacts:
    paths:
      - dist/
    expire_in: 1 day

# Install from wheel and compile on mpcdf cluster arch
fortran_install:
  stage: install
  needs: ["default_build"]
  rules:
    - if: $CI_COMMIT_TAG
      when: never
    - if: $CI_COMMIT_REF_PROTECTED == "false" && $CI_PIPELINE_SOURCE == "push"
    - if: $CI_PIPELINE_SOURCE == "schedule"
  script:
    - pip install dist/struphy*.whl
    - pip show struphy
    - pip list
    - struphy
    - pyccel --version
    - struphy compile --status
    - struphy compile --delete
    - struphy compile --language=fortran -y # compiles struphy, psydac with language fortran 
    - struphy compile --status 

# fortran tests (always)
fortran_unit_tests:
  stage: test
  needs: ["fortran_install"]
  rules:
    - if: $CI_COMMIT_TAG
      when: never
    - if: $CI_COMMIT_REF_PROTECTED == "false" && $CI_PIPELINE_SOURCE == "push"
    - if: $CI_PIPELINE_SOURCE == "schedule"
  script:
    - pwd
    - ls -1
    - struphy compile --status
    - struphy test unit
    #- ls $(python3 -c "import struphy as _; print(_.__path__[0])")/_pymon --all

fortran_propagator_tests:
  stage: test
  needs: ["fortran_install"]
  rules:
    - if: $CI_COMMIT_TAG
      when: never
    - if: $CI_COMMIT_REF_PROTECTED == "false" && $CI_PIPELINE_SOURCE == "push"
    - if: $CI_PIPELINE_SOURCE == "schedule"
  script:
    - pwd
    - ls -1
    - struphy compile --status
    - struphy test propagators
    #- ls $(python3 -c "import struphy as _; print(_.__path__[0])")/_pymon --all

fortran_model_tests:
  stage: test
  needs: ["fortran_install"]
  rules:
    - if: $CI_COMMIT_TAG
      when: never
    - if: $CI_COMMIT_REF_PROTECTED == "false" && $CI_PIPELINE_SOURCE == "push"
  script:
    - pwd
    - ls -1
    - struphy compile --status
    - struphy test models --fast 
    #- ls $(python3 -c "import struphy as _; print(_.__path__[0])")/_pymon --all

fortran_model_cronjob_tests:
  stage: test
  needs: ["fortran_install"]
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
  script:
    - pwd
    - ls -1
    - struphy compile --status
    - struphy test models
    #- ls $(python3 -c "import struphy as _; print(_.__path__[0])")/_pymon --all

fortran_tutorial_cronjob_tests:
  stage: test
  needs: ["fortran_install"]
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
  script:
    - pwd
    - ls -1
    - struphy compile --status
    - struphy test tutorials
    #- ls $(python3 -c "import struphy as _; print(_.__path__[0])")/_pymon --all

# default tests, language c (always)
default_install:
  stage: test
  needs: 
  - job: fortran_unit_tests
  - job: fortran_propagator_tests
  - job: fortran_model_tests
    optional: true
  - job: fortran_model_cronjob_tests
    optional: true
  - job: fortran_tutorial_cronjob_tests
    optional: true
  rules:
    - if: $CI_COMMIT_TAG
      when: never
    - if: $CI_COMMIT_REF_PROTECTED == "false" && $CI_PIPELINE_SOURCE == "push"
    - if: $CI_PIPELINE_SOURCE == "schedule"
  script:
    - pip show struphy
    - pip list
    - struphy
    - pyccel --version
    - struphy compile --status
    - struphy compile --delete
    - struphy compile -y # compiles struphy, psydac with language c 
    - struphy compile --status

default_unit_tests:
  stage: test
  needs: ["default_install"]
  rules:
    - if: $CI_COMMIT_TAG
      when: never
    - if: $CI_COMMIT_REF_PROTECTED == "false" && $CI_PIPELINE_SOURCE == "push"
    - if: $CI_PIPELINE_SOURCE == "schedule"
  script:
    - pwd
    - ls -1
    - struphy compile --status
    - struphy test unit  
    #- ls $(python3 -c "import struphy as _; print(_.__path__[0])")/_pymon --all

default_propagator_tests:
  stage: test
  needs: ["default_install"]
  rules:
    - if: $CI_COMMIT_TAG
      when: never
    - if: $CI_COMMIT_REF_PROTECTED == "false" && $CI_PIPELINE_SOURCE == "push"
    - if: $CI_PIPELINE_SOURCE == "schedule"
  script:
    - pwd
    - ls -1
    - struphy compile --status
    - struphy test propagators
    #- ls $(python3 -c "import struphy as _; print(_.__path__[0])")/_pymon --all

default_model_tests:
  stage: test
  needs: ["default_install"]
  rules:
    - if: $CI_COMMIT_TAG
      when: never
    - if: $CI_COMMIT_REF_PROTECTED == "false" && $CI_PIPELINE_SOURCE == "push"
  script:
    - pwd
    - ls -1
    - struphy compile --status
    - struphy test models --fast
    #- ls $(python3 -c "import struphy as _; print(_.__path__[0])")/_pymon --all

default_model_cronjob_tests:
  stage: test
  needs: ["default_install"]
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
  script:
    - pwd
    - ls -1
    - struphy compile --status
    - struphy test models 
    #- ls $(python3 -c "import struphy as _; print(_.__path__[0])")/_pymon --all

default_tutorial_cronjob_tests:
  stage: test
  needs: ["default_install"]
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
  script:
    - pwd
    - ls -1
    - struphy compile --status
    - struphy test tutorials

# ubuntu latest test (always)
ubuntu_latest_tests:
  stage: test
  image: ubuntu:latest
  needs: ["default_build"]
  cache: []
  rules:
    - if: $CI_COMMIT_TAG
      when: never
    - if: $CI_COMMIT_REF_PROTECTED == "false" && $CI_PIPELINE_SOURCE == "push"
    - if: $CI_PIPELINE_SOURCE == "schedule"
  before_script:
    - apt update -y && apt clean 
    - apt install -y python3-pip 
    - apt install -y python3.10-venv 
    - apt install -y gfortran gcc 
    - DEBIAN_FRONTEND=noninteractive TZ="Europe/Berlin" apt-get install -y liblapack-dev libopenmpi-dev 
    - apt install -y libblas-dev openmpi-bin 
    - apt install -y libomp-dev libomp5 
    - apt install -y git
    - apt install -y pandoc
    - apt install -y sqlite3
    - export OMPI_ALLOW_RUN_AS_ROOT=1
    - export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
  script:
    - pip list
    - pip install dist/struphy*.whl
    - struphy compile --status
    - make -v
    - struphy compile
    - struphy test models --fast
    - struphy compile --language=fortran -y
    - struphy test models --fast

# older ubuntu tests (scheduled)
ubuntu_20_04_python_3_8_tests:
  stage: test
  image: ubuntu:20.04
  needs: ["default_build"]
  cache: []
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
  before_script:
    - export DEBIAN_FRONTEND=noninteractive
    - echo 'tzdata tzdata/Areas select Europe' | debconf-set-selections
    - echo 'tzdata tzdata/Zones/Europe select Berlin' | debconf-set-selections
    - apt update -y && apt clean
    - apt install -y python3.8 python3.8-venv python3.8-dev python3-pip gfortran gcc liblapack-dev libopenmpi-dev libblas-dev openmpi-bin libomp-dev libomp5 git pandoc
    - python3.8 -m venv /opt/venv
    - source /opt/venv/bin/activate
    - pip install --upgrade pip
    - pip install sympy==1.5 struphy gvec_to_python
    - export OMPI_ALLOW_RUN_AS_ROOT=1
    - export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
  script:
    - struphy compile
    - struphy test models --fast
    - struphy compile --language=fortran -y
    - struphy test models --fast

ubuntu_20_04_python_3_9_tests:
  stage: test
  image: ubuntu:20.04
  needs: ["default_build"]
  cache: []
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
  before_script:
    - export DEBIAN_FRONTEND=noninteractive
    - echo 'tzdata tzdata/Areas select Europe' | debconf-set-selections
    - echo 'tzdata tzdata/Zones/Europe select Berlin' | debconf-set-selections
    - apt update -y && apt clean
    - apt install -y python3.9 python3.9-venv python3.9-dev python3-pip gfortran gcc liblapack-dev libopenmpi-dev libblas-dev openmpi-bin libomp-dev libomp5 git pandoc
    - python3.9 -m venv /opt/venv
    - source /opt/venv/bin/activate
    - pip install --upgrade pip
    - pip install sympy==1.5 struphy gvec_to_python
    - export OMPI_ALLOW_RUN_AS_ROOT=1
    - export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
  script:
    - struphy compile
    - struphy test models --fast
    - struphy compile --language=fortran -y
    - struphy test models --fast

ubuntu_23_04_tests:
  stage: test
  image: ubuntu:23.04
  needs: ["default_build"]
  cache: []
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
  before_script:
    - apt update -y && apt clean 
    - apt install -y python3-pip 
    - apt install -y python3-venv
    - apt install -y gfortran gcc 
    - DEBIAN_FRONTEND=noninteractive TZ="Europe/Berlin" apt-get install -y liblapack-dev libopenmpi-dev 
    - apt install -y libblas-dev openmpi-bin 
    - apt install -y libomp-dev libomp5 
    - apt install -y git
    - apt install -y pandoc
    - export OMPI_ALLOW_RUN_AS_ROOT=1
    - export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
  script:
    - python3 -m venv venv
    - source venv/bin/activate
    - python -m pip install --upgrade pip
    - python -m pip install struphy
    - struphy compile
    - struphy test models --fast
    - struphy compile --language=fortran -y
    - struphy test models --fast

# fedora latest test (always)
fedora_latest_tests:
  stage: test
  image: gitlab-registry.mpcdf.mpg.de/struphy/struphy/fedora_latest
  needs: []
  cache: []
  rules:
    - if: $CI_COMMIT_TAG
      when: never
    - if: $CI_COMMIT_REF_PROTECTED == "false" && $CI_PIPELINE_SOURCE == "push"
    - if: $CI_PIPELINE_SOURCE == "schedule"
  before_script:
    - bash -c ". /etc/profile.d/modules.sh && module load mpi/openmpi-$(arch) && module list && pip install struphy" 
  script:
    - bash -c ". /etc/profile.d/modules.sh && module load mpi/openmpi-$(arch) && struphy compile && struphy test models --fast"
    - bash -c ". /etc/profile.d/modules.sh && module load mpi/openmpi-$(arch) && struphy compile --language=fortran -y && struphy test models --fast"

# older fedora tests (scheduled)
fedora_37_tests:
  stage: test
  image: fedora:37
  needs: ["default_build"]
  cache: []
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
  before_script:
    - dnf install -y python3-pip 
    - dnf install -y gcc 
    - dnf install -y gfortran  
    - dnf install -y blas-devel lapack-devel  
    - dnf install -y openmpi openmpi-devel 
    - dnf install -y libgomp 
    - dnf install -y git 
    - dnf install -y environment-modules 
    - dnf install -y python3-mpi4py-openmpi 
    - dnf install -y python3-devel 
    - dnf install -y pandoc
    - dnf install -y sqlite
    - export OMPI_ALLOW_RUN_AS_ROOT=1
    - export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
  script:
    - pip list
    - bash -c ". /etc/profile.d/modules.sh && module load mpi/openmpi-$(arch) && module list && pip install dist/struphy*.whl && struphy compile --status && make -v && struphy compile --language=fortran -y && struphy test models --fast" 

fedora_38_tests:
  stage: test
  image: fedora:38
  needs: ["default_build"]
  cache: []
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
  before_script:
    - dnf install -y python3-pip 
    - dnf install -y gcc 
    - dnf install -y gfortran  
    - dnf install -y blas-devel lapack-devel  
    - dnf install -y openmpi openmpi-devel 
    - dnf install -y libgomp 
    - dnf install -y git 
    - dnf install -y environment-modules 
    - dnf install -y python3-mpi4py-openmpi 
    - dnf install -y python3-devel 
    - dnf install -y pandoc
    - export OMPI_ALLOW_RUN_AS_ROOT=1
    - export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
    - export OMPI_MCA_pml=ob1
    - export OMPI_MCA_btl=tcp,self
    - bash -c ". /etc/profile.d/modules.sh && module load mpi/openmpi-$(arch) && module list && pip install struphy"
  script:
    - pip list
    - bash -c ". /etc/profile.d/modules.sh && module load mpi/openmpi-$(arch) && struphy compile && struphy test models --fast"
    - bash -c ". /etc/profile.d/modules.sh && module load mpi/openmpi-$(arch) && struphy compile --language=fortran -y && struphy test models --fast"


#release
deploy:
  stage: release
  rules:
    - if: $CI_COMMIT_TAG
      when: never
    - if: $CI_COMMIT_REF_NAME == "master" 
  needs: ["default_build"]
  script:
    - twine upload dist/*

pages:
  stage: release
  rules:
    - if: $CI_COMMIT_TAG
      when: never
    - if: $CI_COMMIT_REF_PROTECTED == "true" 
    - if: $CI_PIPELINE_SOURCE == "schedule"
      when: never
  needs: ["default_build"]
  script:
    - pip install dist/struphy*.whl
    - pip show struphy
    - struphy -h
    - struphy compile --status
    - struphy compile -y
    - struphy test tutorials
    - ls $(python3 -c "import struphy as _; print(_.__path__[0])")/io/out
    #- struphy test timings
    #- ls $(python3 -c "import struphy as _; print(_.__path__[0])")/_pymon --all
    - cd doc ; make html
    - mv _build/html/ ../public/
  artifacts:
    paths:
      - public/

vars:
  stage: release
  rules:
    - if: $CI_COMMIT_TAG
      when: never
    - if: $CI_COMMIT_REF_NAME == "master"
  before_script:
    - uname -s # get system info
  script:
    - echo "VERSION=$(var=$(<pyproject.toml); set -- $var; echo ${14} | sed 's/^.//' | sed 's/.$//')" >> vars.env
  artifacts:
    reports:
      dotenv: vars.env
    expire_in: 1 day

release_job:
  stage: release
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  rules:
    - if: $CI_COMMIT_TAG
      when: never
    - if: $CI_COMMIT_REF_NAME == "master"
  needs: ['vars']
  before_script:
    - uname -s # get system info
  script:
    - cat /etc/*-release
    - echo $VERSION
  release:                                         # See https://docs.gitlab.com/ee/ci/yaml/#release for available properties
    tag_name: 'v$VERSION'                          # The version is incremented per pipeline.
    name: 'v$VERSION'
    ref: '$CI_COMMIT_SHA'                          # The tag is created from the pipeline SHA.
    description: 'CHANGELOG.md'
    assets:
      links:
        - name: 'Documentation'
          url: 'https://struphy.pages.mpcdf.de/struphy/index.html'
        - name: 'PyPI'
          url: 'https://pypi.org/project/struphy/'