numpy
cunumpy
pyccel>=2.0
psydac @ git+https://github.com/struphy-hub/psydac-for-struphy.git@devel-tiny
scipy
h5py
matplotlib
pyyaml
vtk
tqdm
argcomplete
pytest
pytest-mpi
line_profiler
gvec>=1.1.0
desc-opt
jupyter
nbconvert
ipykernel
sphinx
sphinx-design
lxml_html_clean
sphinxcontrib-napoleon
sphinx-copybutton
pydata-sphinx-theme
nbsphinx
m2r2
myst-parser
mistune
docutils