name: Deploy docs to GitHub Pages

on:
  push:
    branches: ["devel", "main"] # TODO: Set to main only after release
  workflow_dispatch:

defaults:
  run:
    shell: bash

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    container:
      image: texlive/texlive:latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Cache pip
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/pyproject.toml') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install pandoc
        run: |
          apt-get update
          apt-get install -y pandoc

      # - name: Install TeX Live with pdflatex
      #   run: |
      #     sudo apt-get update
      #     sudo apt-get install -y texlive-full
      #     sudo apt-get install -y texlive texlive-latex-base texlive-latex-extra texlive-fonts-recommended texlive-science

      - name: Check if pdflatex is available
        run: |
          which pdflatex
          pdflatex --version

      - name: Set up virtual environment and install project
        run: |
          python -m venv env
          source env/bin/activate
          pip install --upgrade pip
          pip install ".[test, dev, docs]"

      - name: Build Sphinx docs
        run: |
          source env/bin/activate
          cd docs
          make html

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload built docs
        uses: actions/upload-pages-artifact@v3
        with:
          path: docs/build/html/

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
