on:
  workflow_call:
    inputs:
      os:
        required: true
        type: string

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  hello_world:
    runs-on: ${{ inputs.os }}
    steps:
      - name: Say hello
        run: echo "Hello world!"