name: MacOS
on:
  push:
    branches:
      - main
      - devel
  pull_request:
    branches:
      - main
      - devel

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  macos-latest-build:
    uses: ./.github/workflows/testing.yml
    with:
      os: macos-latest