name: Publish Struphy to PyPI

on:
  push:

# .github/workflows/ci-cd.yml
jobs:
  pypi-publish:
    name: Upload release to PyPI
    runs-on: ubuntu-latest
    environment:
      name: testpypi
      url: https://test.pypi.org/project/struphy-test
    permissions:
      id-token: write  # IMPORTANT: this permission is mandatory for trusted publishing
    steps:
    # retrieve your distributions here

    - name: Publish package distributions to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1

# jobs:
#   build-and-publish:
#     runs-on: ubuntu-latest

#     steps:
#       - name: Checkout repository
#         uses: actions/checkout@v3

#       - name: Set up Python
#         uses: actions/setup-python@v4
#         with:
#           python-version: "3.10"

#       - name: Install build tools
#         run: |
#           python -m pip install --upgrade pip
#           pip install build twine

#       - name: Build the package
#         run: python -m build

#       - name: Publish to PyPI
#         env:
#           TWINE_USERNAME: __token__ # Use API token
#           TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
#         run: twine upload dist/*
