name: isort & ruff

on:
  pull_request:
    branches:
      - devel

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  cloc:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the code
        uses: actions/checkout@v4

      - name: Download and run cloc
        run: |
          curl -s https://raw.githubusercontent.com/AlDanial/cloc/master/cloc > cloc
          chmod +x cloc
          ./cloc --version
          ./cloc $(git ls-files)

  struphy_lint_all:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      # You can test your matrix by printing the current Python version
      - name: Display Python version
        run: python -c "import sys; print(sys.version)"

      - name: Install prerequisites (Ubuntu)
        uses: ./.github/actions/install/ubuntu-latest

      - name: Install struphy
        uses: ./.github/actions/install/install-struphy-editable

      - name: Lint the repo
        run: |
          struphy lint all --output-format plain --verbose

  # black:
  #   runs-on: ubuntu-latest
  #   continue-on-error: true
  #   steps:
  #     - name: Checkout the code
  #       uses: actions/checkout@v4

  #     - name: Code formatting with black
  #       run: |
  #         pip install black "black[jupyter]"
  #         # black --check src/
  #         # black --check tutorials/

  isort:
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - name: Checkout the code
        uses: actions/checkout@v4

      - name: Code formatting with isort
        run: |
          pip install isort
          isort --check src/

  # mypy:
  #   runs-on: ubuntu-latest
  #   continue-on-error: true
  #   steps:
  #     - name: Checkout the code
  #       uses: actions/checkout@v4

  #     - name: Type checking with mypy
  #       run: |
  #         pip install mypy
  #         mypy src/ || true

  # prospector:
  #   runs-on: ubuntu-latest
  #   continue-on-error: true
  #   steps:
  #     - name: Checkout the code
  #       uses: actions/checkout@v4

  #     - name: Code analysis with prospector
  #       run: |
  #         pip install prospector
  #         prospector src/ || true

  ruff:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the code
        uses: actions/checkout@v4

      # TODO: Remove --select I once all errors are fixed
      - name: ruff check --select I
        run: |
          pip install ruff
          ruff check --select I
      
      - name: ruff format --check
        run: |
          ruff format --check

  # pylint:
  #   runs-on: ubuntu-latest
  #   continue-on-error: true
  #   steps:
  #     - name: Checkout the code
  #       uses: actions/checkout@v4

  #     - name: Linting with pylint
  #       run: |
  #         pip install pylint
  #         pylint src/ || true
