# name: Deploy docs to GitHub Pages

on:
  pull_request:
    branches:
      - main
      - devel
  workflow_dispatch:

defaults:
  run:
    shell: bash

permissions:
  contents: read
#   id-token: write

# concurrency:
#   group: "pages"
#   cancel-in-progress: false

jobs:
  with-reqs:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/struphy-hub/struphy/ubuntu-with-reqs:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GHCR_TOKEN }}
 
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Inspect Image
        run: |
          ls
          python3 -m venv env
          source env/bin/activate
          pip install -U pip
          pip list

  with-struphy:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/struphy-hub/struphy/ubuntu-with-struphy:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GHCR_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Inspect Image
        run: |
          ls
          source env_c_/bin/activate
          struphy -h
          struphy compile

