name: PR - model tests in Container

on:
  pull_request:
    branches:
      - main
      - devel
  workflow_dispatch:

defaults:
  run:
    shell: bash

permissions:
  contents: read

# concurrency:
#   group: "pages"
#   cancel-in-progress: false

jobs:
  container-with-struphy:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/struphy-hub/struphy/ubuntu-with-struphy:latest
      credentials:
        username: spossann
        password: ${{ secrets.GHCR_TOKEN }}
    steps:

      - name: Check for dockerenv file
        run: (ls /.dockerenv && echo Found dockerenv) || (echo No dockerenv)

      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install Struphy in Container
        uses: ./.github/actions/install/struphy_in_container

      - name: Compile Struphy
        run: |
          which python3
          source /struphy_c_/env_c_/bin/activate
          which python3
          struphy compile --status
          struphy compile

      - name: Run model tests
        uses: ./.github/actions/tests/models
