# name: Deploy docs to GitHub Pages

on:
  pull_request:
    branches:
      - main
      - devel
  workflow_dispatch:

defaults:
  run:
    shell: bash

permissions:
  contents: read
#   id-token: write

# concurrency:
#   group: "pages"
#   cancel-in-progress: false

jobs:
  with-reqs:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/struphy-hub/struphy/ubuntu-with-reqs:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GHCR_TOKEN }}
 
    steps:
        - name: Check for dockerenv file
          run: (ls /.dockerenv && echo Found dockerenv) || (echo No dockerenv)
        - name: Checkout repo
          uses: actions/checkout@v4
        - name: Create virtual environment
          run: |
            python3 -m venv env
            source env/bin/activate
            pip install -U pip
            pip list
            whch python3
        - name: Install Struphy
          run: |
            pip list
            which python3
            ls -a
            source env/bin/activate
            which python3
            pip install ".[test, dev, docs]" 

  with-struphy:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/struphy-hub/struphy/ubuntu-with-struphy:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GHCR_TOKEN }}
    steps:
      - name: Check for dockerenv file
        run: (ls /.dockerenv && echo Found dockerenv) || (echo No dockerenv)
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Actovate pre-installed virtual environment
        run: |
          ls / -a
          source /env_c_/bin/activate
          pip install -U pip
          pip list
          whch python3
      - name: Install Struphy
        run: |
          pip list
          which python3
          ls -a
          source /env_c_/bin/activate
          which python3
          pip install ".[test, dev, docs]"

