# name: Deploy docs to GitHub Pages

on:
  pull_request:
    branches:
      - main
      - devel
  workflow_dispatch:

defaults:
  run:
    shell: bash

permissions:
  contents: read
#   id-token: write

# concurrency:
#   group: "pages"
#   cancel-in-progress: false

jobs:
  with-reqs:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/struphy-hub/struphy/ubuntu-with-reqs:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GHCR_TOKEN }}
 
    steps:
        - name: Check for dockerenv file
          run: (ls /.dockerenv && echo Found dockerenv) || (echo No dockerenv)
        - name: Checkout repo
          uses: actions/checkout@v4
        - name: Create virtual environment
          run: |
            which python3
            python3 -m venv env
            source env/bin/activate
            which python3
            pip install -U pip
        - name: Install Struphy
          run: |
            which python3
            source env/bin/activate
            which python3
            ls 
            cat src/struphy/console/compile.py
            cat pyproject.toml
            pip install .[phys]
            pip install .[test,dev,docs]
        - name: Compile Struphy
          run: |
            which python3
            source env/bin/activate
            which python3
            struphy compile

  with-struphy:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/struphy-hub/struphy/ubuntu-with-struphy:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GHCR_TOKEN }}
    steps:
      - name: Check for dockerenv file
        run: (ls /.dockerenv && echo Found dockerenv) || (echo No dockerenv)
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Activate pre-installed virtual environment
        run: |
          ls / -a
          which python3
          source /struphy_c_/env_c_/bin/activate
          which python3
          pip install -U pip
      - name: Install Struphy
        run: |
          which python3
          source /struphy_c_/env_c_/bin/activate
          which python3
          pip install ".[test,dev,docs]"
      - name: Compile Struphy
        run: |
          which python3
          source /struphy_c_/env_c_/bin/activate
          which python3
          struphy compile --status
          struphy compile --status
          struphy compile

