# name: Deploy docs to GitHub Pages

on:
  push:
    branches: ["devel", "main"]
  workflow_dispatch:

defaults:
  run:
    shell: bash

permissions:
  contents: read
#   id-token: write

# concurrency:
#   group: "pages"
#   cancel-in-progress: false

jobs:
  hello-world:
    runs-on: ubuntu-latest
    container:
      image: struphy/ubuntu-with-reqs 
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Inspect Image
        run: |
          ls
          python3 -m venv env
          source env/bin/activate
          pip install -U pip
          pip list

